name: CI

on: [push, pull_request]

jobs:
  tests:
    name: Ruby ${{ matrix.ruby-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
          - "3.4.2"
          - "3.3.7"
          - "3.2.7"
          - "3.1.6"
    steps:
      - uses: actions/checkout@v5

      - name: Install Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # 'bundle install', cache gems

      - name: Run tests
        run: bundle exec rake
